@import './variablesMixins';
@import './hero';
@import './footer';
@import './portfolio';

.App{
    color: white;
    background-color: black;
    font-family: 'Noto Sans Mono', monospace;
  }

  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 5rem;   
  }

 

  p a:hover{
    font-size: 1.1rem;
    
  }


